{% extends 'base.html' %}
{% block content %}
<div class="container-fluid my-3">
    <div class="card-group shadow">
        <div class="card">
            <div class="card-header">
                <h5 class="m-0"><i class="bi bi-file-earmark-medical"></i> PROGRESS 1</h5>
            </div>
            <div class="card-body">
                {% if regulations|length >= 1 %}
                <div class="card border-info mb-3 {% if regulations[0].highlight %}border-primary{% endif %}">
                    <div class="card-body">
                        <h5 class="card-title">{{ regulations[0].bill_name }}</h5>
                        <div class="card-text">Comment Period Ends: {{ regulations[0].comment_period_end }}</div>
                    </div>
                    <div class="card-footer text-muted">
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h5 class="m-0"><i class="bi bi-arrow-up-right"></i> EXAMPLE 2</h5>
            </div>
            <div class="card-body">
                {% if regulations|length >= 2 %}
                <div class="card border-danger mb-3 {% if regulations[1].highlight %}border-primary{% endif %}">
                    <div class="card-body">
                        <h5 class="card-title">{{ regulations[1].bill_name }}</h5>
                        <div class="card-text">Comment Period Ends: {{ regulations[1].comment_period_end }}</div>
                    </div>
                    <div class="card-footer text-muted">
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h5 class="m-0"><i class="bi bi-check-circle"></i> EXAMPLE 3</h5>
            </div>
            <div class="card-body">
                {% if regulations|length >= 3 %}
                <div class="card border-warning mb-3 {% if regulations[2].highlight %}border-primary{% endif %}">
                    <div class="card-body">
                        <h5 class="card-title">{{ regulations[2].bill_name }}</h5>
                        <div class="card-text">Comment Period Ends: {{ regulations[2].comment_period_end }}</div>
                    </div>
                    <div class="card-footer text-muted">
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
