{% extends 'base.html' %}
{% block content %}

<div class="container-fluid my-3">
        <div class="card-group shadow">
            <div class="card">
                <div class="card-header">
                    <h5 class="m-0"><i class="bi bi-file-earmark-medical"></i> PROGRESS 1</h5>
                </div>
                <div class="card-body">
                    <div class="card border-info">
                        <div class="card-body">
                            <h5 class="card-title">EXAMPLE 1</h5>
                            <div class="card-text">entry</div>
                        </div>
                        <div class="card-footer text-muted">
                            <span class="badge bg-info text-dark">To Be Clickable</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 class="m-0"><i class="bi bi-arrow-up-right"></i> EXAMPLE 2</h5>
                </div>
                <div class="card-body">
                    <div class="card border-danger mb-3">
                        <div class="card-body">
                            <h5 class="card-title">EXAMPLE 2</h5>
                            <div class="card-text">entry</div>
                        </div>
                        <div class="card-footer text-muted">
                            <span class="badge bg-danger">To Be Clickable</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 class="m-0"><i class="bi bi-check-circle"></i> EXAMPLE 3</h5>
                </div>
                <div class="card-body">
                    <div class="card border-warning">
                        <div class="card-body">
                            <h5 class="card-title">EXAMPLE 3</h5>
                            <div class="card-text">entry</div>
                        </div>
                        <div class="card-footer text-muted">
                            <span class="badge bg-warning text-dark">To Be Clickable</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

{% endblock %}